
section
{
	position: absolute;
	max-width: 1240px;
	max-height: 800px;
	top: 120px;
	left: 30px;
}

section h1
{
	margin-left: 20px;
	text-decoration: underline;
}
section caption
{
	font-size: 2em;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	margin-bottom: 20px;
}

section table
{
	margin-top: 50px;
	width: 900px;
	min-height: 200px;
	margin-left: 2px;
    border-collapse: collapse;
}


#documents_juridiques table
{
	display: inline-block;
	flex-direction: column;
	margin-top: 40px;
}

#documents_juridiques caption
{
	margin-right: 500px;
	white-space: nowrap;
}

td, th
{
	white-space: nowrap;
    border: 1px solid black;
}
