*{
	font-family: Calibri, Arial, sans-serif;
	font-weight: lighter;
	white-space: nowrap;
}

body
{
	margin-bottom: 40px;
	background-color: #f4f4f4;

	/*Pour éviter les bordures sur le navigateur*/
	margin: 0;
	padding: 0;
}

section{
	display: table;
	margin-left: auto;
	margin-right: auto;
}

h1{
	font-size: 2em;
	margin-top: 40px;
}

h2{
	background-color: rgb(238,227,181);
	border-radius: 2px;
	padding: 10px;
	height: 28px;
}

h4{
	margin-top: -20px;
	margin-bottom: 40px;
	color: #696969;
}

.disclaimer{
	margin-top: 40px;
	margin-bottom: 30px;
}

em{
	color: #303030;
}

span{
	color: red;
}

.titre{
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.etat{
	margin-bottom: 80px;
}

.horaire{
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 40px;
}

.valeur{
	display: flex;
	margin-left: 10px;
}

.bloc_prog{
	display:flex;
}

.bloc_valider{
	margin-left: 40%;
}

.options{
	display: flex;
}

.suppression{
	display:table;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.ariane{
	display:table;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.remplir{
	height:134.5px;
}

.valeur input{
	margin-left: 40px;
}

.horaire input[type="text"]
{
	width: 25px;
	height: 20px;
	text-align: center;
}

.etat p{
	margin-left: 10px;
}

.suppression input {
	font-size: 1.5em;
	text-align: center;
	background-color: red;
	color: white;
	border-radius: 10px;
	margin-top: 3.5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 250px;
}

.ariane a {
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;
	color: black;
	background-color: rgb(238,227,181);
  border: 1px solid black;
	border-radius: 10px;
	margin-left: 50px;
	margin-top:50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	width: 250px;
}

.ariane a:hover{
	background-color: green;
	font-weight: bold;
	color: white;
	border: 1px solid rgb(174,186,239);
	padding-left: 17.5px;
	padding-right: 17.5px;
}

input[value="Valider"]
{
	background-color: green;
	color: white;
	border-radius: 20px;
	margin-left: 40px;
	margin-top: 10px;
	height: 30px;
	width: 80px;
}
