body{
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}
.container{
	width:90%;
	margin:auto;
	overflow:hidden;
}
header{
	background:rgb(174,186,239);
	max-height:200px;
	display:flex;
}
header #logo{
	margin:0;
	float:left;
	height:90px;
	width:90px;
}
#logo img{
	height:100%;
	width:100%;
}
header #recherchedeco{
	margin-top:10px;
	float:right;
}
header #recherchedeco a{
	text-decoration:none;
	color:#ffffff;
	margin-left:70px;
	margin-top:10px;
}
header form{
	margin-top:30px;
}
.acces_rapide
{
    display: flex;
	flex-direction: column;
	margin-top: 70px;
}

.acces_rapide p
{
	font-size:120%;
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	text-decoration: none;
	margin-bottom: 50px;
	color: #ccc;
}

.acces_rapide a
{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:90%;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(238,227,181);
	padding-top: 4%;
	padding-bottom: 4%;
	padding-right: 4%;
	padding-left: 4%;
	margin: 10px;
	text-align: center;
}

.acces_rapide a:hover
{
	font-weight: bold;
	transition:0.3s;
    border: 1px solid white;
}

.open-slide{
	float:left;
	margin-left:20px;
	margin-top:30px;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:rgb(73,69,70);
  overflow-x:hidden;
  transition:0.3s;
}

.acces_profil a{
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.5s;
}
.side-nav .mon_profil{
	padding-top:10px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.acces_profil a:hover{
  color:white;
}

.side-nav img{
	margin-top:0;
	margin-left:25%;
	margin-right:25%;
	margin-bottom:0;
	width:125px;
	height:125px;
	border-radius:50%;
}

.side-nav .btn-close{
  margin-top:0;
  float:right;
  font-size:36px;
  margin-right:10px;
}
footer{
	display: inline-block;
	min-width: 100%;
	max-height: 200px;
	background-color: rgb(72,69,70);
}
.content{
	margin:0;
	padding:0;
	min-width:100%;
	min-height:calc(100vh - 150px)
}
footer ul
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
}

footer ul li
{
	margin-right: 50px;
	white-space: nowrap;
}

footer ul li a
{
	color: white;
	text-decoration: none;
}
footer{
	display: inline-block;
	min-width: 100%;
	max-height: 200px;
	background-color: rgb(72,69,70);
}
.content h2
{
    font-weight:bold;
    font-size:60px;
}
.content figcaption
{
    text-align:center;
}
figure a
{
    text-decoration:none;
    color:#494546
}
.informations
{
    display:flex;
    margin-top:100px;
    margin-left:430px;
}
.infos
{
    margin-top:40px;
    margin-left:70px;
    justify-content:center;
}
#modif
{
    margin-left:50px;
}
