*{
  font-family: Arial, sans-serif;
}

section{
  border: 1px solid black;
  padding: 20px;
  background-color: #E6F3F7;
  width: 300px;
}

img{
  height:50px;
  border: 1px solid black;
}

.titre{
  display:flex;
}

h2{
  margin-left:20px;
}
