*{
	font-family: Calibri, sans-serif;
	font-weight: light;
	white-space: nowrap;
}

body{
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}

#corps{
	margin:0;
	padding:0;
	min-width:100%;
	min-height:calc(100vh - 141px);
}

h1{
	border: 1px solid black;
	border-radius: 3px;
	display: table;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	background-color: #ccc;
	padding:1%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.tampon{
	height: 10px;
}

.capteur{
	height: 150px;
	width: 200px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: #ccc;
	margin: 50px;
}

.nom_capteur{
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid black;
}

.dot{
	margin-top: -15px;
	margin-bottom: -27px;
}

#reglage{
	height: 25px;
	width: 25px;
	padding-left: 5px;
	margin-left:85%;
}

.valeur{
	display: table;

	/*On est obligés de mettre les margin left et
	right à auto pour centrer la table !*/
	margin-left: auto;
	margin-right: auto;

	margin-top:22px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgb(238,227,181);
}

.pas_capteur{
	display: flex;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 150px;
	font-weight: bold;
}

.ligne{
	display:flex;
	justify-content: center;
}

.redirections{
	display:flex;
	margin-top: 75px;
	margin-bottom: 90px;
	justify-content: center;
}

.redirections a{
	color: black;
	background-color: rgb(238,227,181);
  border: 1px solid black;
  border-radius:3px;
	padding:15px;
	margin-left:100px;
  text-align:center;
	text-decoration:none;
	font-size: 15px;
}

.redirections a:hover{
	background-color: green;
	font-weight: bold;
	color: white;
	border: 1px solid rgb(174,186,239);
}

.change_piece a:hover{
	padding-left:14.2px;
	padding-right:14.2px;
}

.ajout a:hover{
	padding-left:13.7px;
	padding-right:13.7px;
}

.add_piece a:hover{
	padding-left:14px;
	padding-right:14px;
}

.del_piece a:hover{
	padding-left:14px;
	padding-right:14px;
}
